
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    /* color: white; */
    /* display: grid;
    grid-template-rows: 1fr 12fr 2fr;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 
        "header header"
        "nav navContent" 
        "nav footer";
    max-width: 2240px;
    height: 100vh;     */
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 360px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
}

/* .appbarContainer {
    grid-area: header;
    border: 1px solid green;
    padding: auto 40px;
}
.appbarContent {
    /* width: 100%; */
    /* height: fit-content; */
    /* display: block;
    border: 1px solid red;
    margin: 0 40px 0 40px;
}

.navigationContainer {
    grid-area: nav;
    border: 1px solid white;
    /* height: 100%; */
/* }

.contentContainer {
    grid-area: navContent;
    display: block;
    padding: auto 40px auto 0;
    border: 1px solid pink;
}

.footerContainer {
    grid-area: footer;
    border: 1px solid peru;
    padding: 0 10px;
} */ 